/* theme color */
$--color-primary: #f56c6c;
$--color-danger: #ed1c24 !default;

/* icon font path, required */
$--font-path: '~element-plus/lib/theme-chalk/fonts';

@import "~element-plus/packages/theme-chalk/src/index";